.mangrove64-table {
  border-collapse: collapse;
}
.mangrove64-bordered-ltr {
  border: 1px solid #888;
  border-bottom: none;
}
.mangrove64-bordered-lr {
  border-left: 1px solid #888;
  border-right: 1px solid #888;
}
.mangrove64-bordered-t {
  border-top: 1px solid #888;
}
.mangrove64-bordered-lbr {
  border: 1px solid #888;
  border-top: none;
}
.mangrove64-bordered-b {
  border-bottom: 1px solid #888;
}
.mangrove64-bordered-ltrb {
  border: 1px solid #888;
}
.mangrove64-row-selected {
  background-color: #beebff;
}
.mangrove64-row-hidden {
  display: none;
}
.mangrove64-cell-header {
  padding: 0;
}
.mangrove64-cell-header-content  {
  position: relative;
  overflow: hidden;
  background-color: #ebf3fd;
  user-select: none;
  text-wrap: nowrap;
  padding-right: 15px;
  padding-left: 3px;
}
.mangrove64-cell-header-content-dark {
  background-color: #272727;
}
.mangrove64-resize-handle {
  position: absolute;
  top: 0;
  right: 0;
  width: 5px;
  height: 100%;
  cursor: col-resize;
  overflow: visible;
  transform: translateX(0px);
}
.mangrove64-resize-handle:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.mangrove64-resize-handle:active {
  background-color: rgba(0, 0, 0, 0.3);
}
.mangrove64-fake-row {
  height: 4px;
}
.mangrove64-fake-row-display {
  width: 100%;
  height: 4px;
}
.mangrove64-cell {
  padding: 0;
}
.mangrove64-cell-inner {
  padding: 2px;
}
